.app-header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;

  &--night {
    background: linear-gradient(#454443, #FFF);
  }

  .ui.statistic {
    margin-top: 0em;
    margin-bottom: 0em;
    z-index: 2;
  }
}
