.app-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;

  header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 99;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px 0 rgba(#000, 0.1);

    .ui.secondary.pointing.menu {
      display: flex;
      justify-content: space-evenly;

      &:after {
        content: none;
      }
    }

    //.ui.secondary.pointing.menu .active.item {
    //  border-color: #111eff;
    //  color: #111eff;
    //}

    .menu__item {
      height: 25px;
      width: 25px;
      border-radius: 50%;
    }
  }
}
